<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ivpn.client">

    <!--    For purchases-->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!--    To close system dialog-->
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />

    <application
        android:name=".StoreIVPNApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        android:hasFragileUserData="false"
        tools:ignore="HardcodedDebugMode" >

        <meta-data
            android:name="io.sentry.dsn"
            android:value="${SENTRY_DSN}" />

        <meta-data
            android:name="io.sentry.debug"
            android:value="true" />
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="io.sentry.anr.enable"
            android:value="false" />

        <activity
            android:name=".billing.BillingActivity"
            android:exported="false"
            android:theme="@style/AppTheme.DialogNoActionBar" />
    </application>
</manifest>