[submodule "wireguard-tools"]
	path = app/tools/wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools
[submodule "app/src/main/cpp/openvpn"]
	path = app/src/main/cpp/openvpn
	url = https://github.com/schwabe/openvpn
[submodule "app/src/main/cpp/openssl"]
	path = app/src/main/cpp/openssl
	url = https://github.com/schwabe/platform_external_openssl
[submodule "app/src/main/cpp/mbedtls"]
	path = app/src/main/cpp/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "app/src/main/cpp/openvpn3"]
	path = app/src/main/cpp/openvpn3
	url = https://github.com/schwabe/openvpn3.git
[submodule "app/src/main/cpp/asio"]
	path = app/src/main/cpp/asio
	url = https://github.com/chriskohlhoff/asio/
[submodule "app/src/main/cpp/lz4"]
	path = app/src/main/cpp/lz4
	url = https://github.com/lz4/lz4.git
