*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
/keystore.properties
/.idea/
/core/.cxx/
core/.cxx/
core/libs/
v2ray/libs/
v2ray/*.jar
v2ray/*.aar
/store/production/
/production/
liboqs-android/**/*.so
