[submodule "wireguard-tools"]
	path = core/tools/wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools
[submodule "core/src/main/cpp/openvpn"]
	path = core/src/main/cpp/openvpn
	url = https://github.com/schwabe/openvpn
[submodule "core/src/main/cpp/openssl"]
	path = core/src/main/cpp/openssl
	url = https://github.com/schwabe/platform_external_openssl
[submodule "core/src/main/cpp/mbedtls"]
	path = core/src/main/cpp/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "core/src/main/cpp/openvpn3"]
	path = core/src/main/cpp/openvpn3
	url = https://github.com/schwabe/openvpn3.git
[submodule "core/src/main/cpp/asio"]
	path = core/src/main/cpp/asio
	url = https://github.com/chriskohlhoff/asio/
[submodule "core/src/main/cpp/lz4"]
	path = core/src/main/cpp/lz4
	url = https://github.com/lz4/lz4.git
[submodule "liboqs-android/jni/liboqs"]
	path = liboqs-android/jni/liboqs
	url = https://github.com/ivpn/liboqs
