.vscode/
.idea/

gradle/build.gradle
demo/
assets/
build/
bin/
out/
*.pb.go
binary*.go

.DS_Store
Thumbs.db

*.tgz
*.gz
*.zip

*.log
*.tmp

*.exe
*.dll
*.so

vendor/
node_modules/

libv2ray*.[a|j]ar

conf/demo/
