<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ivpn.client">

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".IVPNApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="true"
        tools:ignore="GoogleAppIndexingWarning, HardcodedDebugMode">

        <meta-data
            android:name="io.sentry.dsn"
            android:value="${SENTRY_DSN}" />
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="io.sentry.anr.enable"
            android:value="false" />

        <!--        <activity-->
        <!--            android:name=".ui.tutorial.TutorialActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.login.LoginActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar"-->
        <!--            android:windowSoftInputMode="adjustResize" />-->
        <!--        <activity-->
        <!--            android:name=".ui.signup.SignUpActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar"-->
        <!--            android:windowSoftInputMode="adjustResize" />-->
        <!--        <activity-->
        <!--            android:name=".ui.connect.ConnectActivity"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.app.shortcuts"-->
        <!--                android:resource="@xml/shortcuts" />-->
        <!--        </activity>-->
        <!--        <activity-->
        <!--            android:name=".ui.serverlist.ServersListActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.serverlist.fastest.FastestSettingActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.split.SplitTunnelingActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.settings.SettingsActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.syncservers.SyncServersActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.policy.PrivacyPolicyActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.terms.TermsOfServiceActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.privateemails.PrivateEmailsActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.privateemails.edit.EditPrivateEmailActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".vpn.local.PermissionActivity"-->
        <!--            android:theme="@style/AppTheme.Transparent" />-->
                <activity
                    android:name=".ui.timepicker.TimePickerActivity"
                    android:screenOrientation="portrait"
                    android:theme="@style/AppTheme.Transparent" />
        <!--        <activity-->
        <!--            android:name=".ui.alwaysonvpn.AlwaysOnVpnActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.startonboot.StartOnBootActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.surveillance.AntiSurveillanceActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.customdns.CustomDNSActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.network.NetworkActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.network.rules.NetworkRuleActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.updates.UpdatesActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->
        <!--        <activity-->
        <!--            android:name=".ui.protocol.ProtocolActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar"-->
        <!--            android:windowSoftInputMode="stateHidden" />-->
        <!--        <activity-->
        <!--            android:name=".common.shortcuts.ConnectionShortcutsActivity"-->
        <!--            android:theme="@style/AppTheme.Transparent" />-->
        <!--        <activity-->
        <!--            android:name=".ui.subscription.SubscriptionActivity"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/AppTheme.NoActionBar" />-->

        <!--        <activity-->
        <!--            android:name=".ui.billing.BillingActivity"-->
        <!--            android:theme="@style/AppTheme.HalfTransparent" />-->

        <activity
            android:name=".v2.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".vpn.local.PermissionActivity"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait"/>

        <activity android:name=".v2.qr.QRActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".vpn.openvpn.IVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE" />
        <service
            android:name=".vpn.local.KillSwitchService"
            android:permission="android.permission.BIND_VPN_SERVICE" />
        <service android:name=".vpn.local.WifiWatcherService" />

        <service
            android:name=".vpn.AlwaysOnVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="com.wireguard.android.backend.GoBackend$WireGuardVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE" />

        <service android:name="com.wireguard.android.backend.WireGuardUiService" />

        <service android:name="net.ivpn.client.ui.updates.UpdatesService" />
        <service
            android:name=".ui.updates.UpdatesJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".vpn.controller.WireGuardKeyBroadcastReceiver" />
        <receiver android:name=".vpn.OnBootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.ivpn.client"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logpath" />
        </provider>
    </application>
</manifest>