<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.ivpn.client">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--    For Split Tunneling feature-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--    For purchases-->
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    For Start on boot feature-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--    For Network Protection Feature-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--    Used to scan Wi-Fi networks-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--    To scan QR code-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--    To mock location-->
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation, ProtectedPermissions" />

    <!--    For QR scanner-->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".IVPNApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning, HardcodedDebugMode">

        <meta-data
            android:name="io.sentry.dsn"
            android:value="${SENTRY_DSN}" />

        <meta-data
            android:name="io.sentry.debug"
            android:value="true" />
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="io.sentry.anr.enable"
            android:value="false" />

        <activity
            android:name=".v2.timepicker.TimePickerActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".v2.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".vpn.local.PermissionActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".vpn.local.KillSwitchPermissionActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".common.shortcuts.ConnectionShortcutsActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".v2.billing.BillingActivity"
            android:theme="@style/AppTheme.DialogNoActionBar" />

        <activity
            android:name=".v2.qr.QRActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".vpn.openvpn.IVPNService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" />
        <service
            android:name=".vpn.local.KillSwitchService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" />
        <service android:name=".vpn.local.WifiWatcherService" />

        <service
            android:name=".vpn.AlwaysOnVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="com.wireguard.android.backend.GoBackend$WireGuardVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE" />

        <service android:name="com.wireguard.android.backend.WireGuardUiService" />

        <service
            android:name="net.ivpn.client.v2.updates.UpdatesService"
            android:exported="false" />
        <service
            android:name=".v2.updates.UpdatesJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".common.tile.IVPNTileService"
            android:icon="@drawable/ic_logo_sq"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".vpn.controller.WireGuardKeyBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name=".vpn.OnBootBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.ivpn.client"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logpath" />
        </provider>
    </application>
</manifest>